@{
    ViewBag.Title = "Aboutme";
}

<link href="~/Content/AboutME.css" rel="stylesheet" />

<div id="Middlebody">

  
<h2>About Myself</h2>

    <div id="rightbody">
    <img src="http://i.imgur.com/rpi08x8.jpg" width="200" height="300" alt="Dog and Cat" title="Dog And Cat">
    </div>

    <div id="leftbody">

    <font size=4>
        <h3> Education (Year, Degree and School) </h3>

     <div id="dot">
            <ul>
                <li> 2008, High school Diploma, David Starr Jordan High School </li>
                <li> MS, Informations System, Cal State Long Beach </li>
            </ul>
       </div>

        <h3>Working Experience (Title, Company and Years)</h3>

     
            <ol>
                <li>Student Recuiter/ Data Entry, Rocket Learning, 6 Months</li>

                <li>Package Delivery, Cal State Long Beach, 1 Year</li>

                <li>Samsong Technicain, AlphaDTV, 1.3 Years</li>
            </ol>
  

        <h3> Expectation for this course (Anything you want me to cover in the class) </h3>

        <p>I would like to learn how to efficiency code java and Creat webpages. </p>
    </font>

    </div>
</div>