@{
    ViewBag.Title = "Absolute";
}
<link href="~/Content/Absolute.css" rel="stylesheet" />

<h2>Absolute</h2>

<div class="container">

    
    <div class="article">
        <article>&lt;My Article&gt;</article>
        <section>&lt;Section One&gt;</section>
        <section>&lt;Section Two&gt;</section>
    </div>


    <aside>&lt;Aside&gt;</aside>


    <footer>&lt;Footer&gt;</footer>

</div>