@model string

@{
    ViewBag.Title = "ClientSideDemo";
}

<h2>ClientSideDemo</h2>


@using (Html.BeginForm("PhraseReverse", "Home"))
{

 
    <label for="inputphase"> Please Type a phrase</label>
    <br />
    <input type="text" name="phase" id="phase" value="" size="50" />
    <br />
    <input type="submit" name="submit" value="Reverse" />
    
}