@{
    ViewBag.Title = "Float";
}


<link href="~/Content/Float.css" rel="stylesheet" />

<h2>Float</h2>


<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<link href="css/reset.css" rel="stylesheet" type="text/css" />
<link href="css/absolute.css" rel="stylesheet" type="text/css" />
<head>
    <title>My Homework 4</title>
</head>



<body>



    <div class="container">

       

        <div class="article">
            <article>&lt;My Article&gt;</article>
            <section>&lt;Section One&gt;</section>
            <section>&lt;Section Two&gt;</section>
        </div>


        <aside>&lt;Aside&gt;</aside>


        <footer>&lt;Footer&gt;</footer>

    </div>



</body>
</html>
