@model string

@{
    ViewBag.Title = "Index";
}

 
<div id="BodyBorder">



<h2>Welcome to my Homepage</h2>

<h4>    Hi, My name is Joseph Tran. This is my final project for my IS 445 class. This program consist of all the materials that we learn through this winter semester. What I learn from this class was HTML, Css, Javsscript and ASP.net. This program will show you I have knewledge in all of these areas.</h4>

    <h4> Project Task</h4>
    <ol>
        <li>Create a Website Home Page </li>
        <li>Form and layout Demo</li>
        <li>Server Side Demo </li>
        <li>Client Side Demo</li>
        <li>About Myself</li>


    </ol>
</div>

